* {
	padding: 0;
	margin: 0;
	text-decoration: none; 
}
.home {
	height: 100vh;
	width: 	100%;
	background-color: #101020;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 8%;
	padding-bottom: 10px;
	background-color: #191919;
	border-bottom: 1px solid cyan;
} 
.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span {
	color: lightblue;
}
nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}
nav ul li a {
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-transform: capitalize;
}
nav ul li a:hover {
	color: lightblue;
	transition: 0.5s;
}
.btn {
	background-color: grey;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 30px;
	transition: transform .5s;
}
.btn:hover {
	transform: scale(1.2);
	border: 2px solid lightblue;
	background-color: transparent;
}
.image {
	width: 50%;
	height: 90%;
	position: absolute;
	bottom: 0;
	right: 30px;	
}
.image img {
	height: 45%;
	width: 40%;
	position: absolute;
	bottom: 60%;
	right: 13%;
	top: 10%;
	transform: translateX(20%);
}
.content {
	position: absolute;
	top: 60%;
	left: 8%;
	transform: translateY(-50%);

}
h4 {
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
h1 {
	color: white;
	font-size: 65px;
	margin: 20px 0 20px;
}
h3 {
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
.content a {
	font-size: 20px;
	background: black;
	color: white;
	display: inline-block;
	padding: 20px 40px 
	border-radius: 30px;
	border: 8px solid white-space;
	transition: .5s;
}
.content a:hover {
	background: transparent;
	border: 2px solid lightblue;
}
.about {
	width: 100%;
	padding: 100px,0;
	background-color: #101020;
	padding-bottom: 100px;

}
.about-me {
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-me img {
	height: auto;
	width: 310px;
	border-radius: 10px;
}
.about-text {
	width: 550px;
}
.about-text h2 {
	color: white;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	border-bottom: 1px solid lightblue;
}
.about-text h5 {
		color: white;
		letter-spacing: 2px;
		font-size: 22px;
		margin-bottom: 	25px;
		text-transform: capitalize;
}
.about-text p {
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	text-align: justify;
}
.button {
	background-color: lightblue;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .5s;
}
.button:hover {
	background-color: transparent;
	border: 2px solid black;
	cursor: pointer;
}
.service {
	background: #bcb9b4;
	width: 100%;
	padding: 100px 0;
}
.title h2 {
	color: white;
	font-size: 75px;
	width: 100%;
	margin-bottom: 30px auto;
	text-align: center;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card {
	height: 365px;
	width: 	270px;
	padding: 20px 35px;
	background: #141414;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 1px solid lightblue;
}
.card i {
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0;
	color: lightblue;
}
.card h5 {
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p {
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
	text-align: justify;
}
.pra p a {
	background-color: lightblue;
	color: white;
	border: 2px solid white;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
}
.pra p a:hover {
	background-color: transparent;
	border: 2px solid lightblue;
	cursor: pointer;
}
.skill {
	background: #101024;
	width: 100%;
	padding: 100px 0;
}
.skill-bar {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}
.skill-bar p {
	text-align: left;
}
.skill-box {
	text-align: right;
	width: 100%;
	background-color: white;
}
.html {
	width: 90%;
	background-color: cyan;
}
.css {
	width: 80%;
	background-color: cyan;
}
.JavaScript {
	width: 65%;
	background-color: cyan;
}
.React {
	width: 60%;
	background-color: cyan;
}
.filmora {
	width: 95%;
	background-color: cyan;
}
.premier {
	width: 65%;
	background-color: cyan;
}
.photoshop {
	width: 70%;
	background-color: cyan;
}
.pixelab {
	width: 90%;
	background-color: cyan;
}
.word {
	width: 85%;
	background-color: cyan;
}
.ppt {
	width: 75%;
	background-color: cyan;
}
.excel {
	width: 60%;
	background-color: cyan;
}
.contact-me {
	width: 100%;
	padding: 100px, 0,0,0;
	background-color: #101020;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.contact-text h2 {
	color: white;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	text-align: center;
}
.contact-box {
		color: white;
}
.contact-box:after {
	content: '';
	display: block;
	clear: both;
}
.contact {
	width: 25%;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.contact h4 {
	color: cyan;
	padding-bottom: 10px;	
}
.contact p {
	font-size: 18px;
}
footer {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #bcb9b4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1) {
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2) {
	color: black;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.sosial {
	display: flex;
}
.sosial a {
	width: 	45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	border: 2px solid white;
}
.sosial a:hover {
	transform: scale(1.3);
	transition: 0.5s;
	background: transparent;
	border: 2px solid red;
}
.end {
	position: absolute;
	color: white;
	bottom: 65px;
	font-size: 16px;
}

.fixed {
	overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
